<style>
/* 重置默认边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 1); /* 浅灰色背景 */
  margin: 0; /* 清除默认边距 */
  min-height: 100vh; /* 让 body 高度撑满视口 */
}

#app {
  width: 100%;
  min-height: 100%;
}

</style>